<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArquiSoft</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/dist/css/adminlte.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/toastr/toastr.min.css">
    <!-- Ion Slider -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
    <!-- bootstrap slider -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/dropzone/min/dropzone.min.css">

    @Styles.Render("~/bundles/Plugins/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_Navbar")
    @Html.Partial("_Sidebar")

    @RenderBody()

    @*@Html.Partial("_Footer")*@

    <!-- jQuery -->
    <script src="~/Scripts/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/Scripts/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>


    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Scripts/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/AdminLTE/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/AdminLTE/dist/js/pages/dashboard3.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Plugins/js")
    @Scripts.Render("~/bundles/App/js")


    <script>

            const apiSecurity = new UserApi();
            const passwordRegex2 = app.enums.Regex.Password;

            // On load event - Initial event
            $(document).ready(function () {

                // Methods who add or remove de styled classes
                $.validator.setDefaults({
                    //Add Error Class To Fieldset if field invalid
                    highlight: function (element) {
                        $(element).addClass('is-invalid').removeClass('is-valid');
                    },
                    //Add Valid Class To Fieldset if field valid
                    unhighlight: function (element) {
                        $(element).removeClass('is-invalid').addClass('is-valid');
                    },
                    errorPlacement: function (error, element) {
                        error.addClass('validation-error text-red small').insertAfter(element);
                    }
                });

                $.validator.addMethod('passwordRegex', function (value, element, parameter) {
                    return value.match(passwordRegex2);
                }, '');

                $.validator.addMethod('confirmPassword', function (value, element, parameter) {
                    return $("#txtNewPassword").val() === value //value.match(passwordRegex);
                }, '');

                $.validator.addMethod('confirmPasswordNewOld', function (value, element, parameter) {

                    return $("#txtCurrentPassword").val() !== value //value.match(passwordRegex);
                }, '');

                // Form validations
                $("#passForm").validate({
                    rules: {
                        txtCurrentPassword: {
                            required: true,
                            passwordRegex: true,
                        },
                        txtNewPassword: {
                            required: true,
                            passwordRegex: true,
                            confirmPasswordNewOld: true,
                        },
                        txtConfirmPassword: {
                            required: true,
                            passwordRegex: true,
                            confirmPassword: true,
                            confirmPasswordNewOld: true,
                        }
                    },
                    messages: {
                        txtCurrentPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número."
                        },
                        txtNewPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número.",
                            confirmPasswordNewOld: "La contraseña actual y la nueva no pueden ser la misma"
                        },
                        txtConfirmPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número.",
                            confirmPassword: "Las contraseñas no coinciden.",
                            confirmPasswordNewOld: "La contraseña actual y la nueva no pueden ser la misma"
                        },
                    }
                });
            });

            // Submit form method
            function ChangePassword() {
                if ($("#passForm").valid()) {
                    var $data = {
                        oUser: {
                            Name: $("#txtCurrentPassword").val(),
                            Password: $("#txtConfirmPassword").val()
                        }
                    }

                    apiSecurity.SaveCurrentUser($data).then(response => {
                        if (response.result === 'OK') {
                            toastr.success('Contraseña actualizada correctamente.');
                            var baseUrl = "@Url.Action("LogOut", "App")";
                            window.location.href = baseUrl;
                        } else {
                            toastr.error(response.result);
                        }

                    }).catch(err => {

                        toastr.error("Ocurrió un error cambiando la contraseña.");
                    })
                }
                else
                    toastr.error('Por favor valide los datos ingresados.');
                CleanModal();
            }

            function CleanModal() {

             
                $("#txtCurrentPassword").removeClass("is-valid");
                $("#txtNewPassword").removeClass("is-valid");
                $("#txtConfirmPassword").removeClass("is-valid");
                $("#txtCurrentPassword").removeClass("is-invalid");
                $("#txtNewPassword").removeClass("is-invalid");
                $("#txtConfirmPassword").removeClass("is-invalid");
                $("#txtCurrentPassword").val("");
                $("#txtNewPassword").val("");
                $("#txtConfirmPassword").val("");
                $('.validation-error').remove();
            }

        $('#passwordModal').on('hidden', function () {            CleanModal();        });


    </script>


    @RenderSection("Scripts", required: false)

    <!-- Modal -->
    <div class="modal" id="passwordModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-dark">Cambiar Contraseña</h4>

                </div>
                <div class="modal-body">
                    <form role="form" id="passForm">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txtCurrentPassword">Contraseña Actual:</label>
                                <input type="password" name="txtCurrentPassword" class="form-control" id="txtCurrentPassword" placeholder="Ingrese su contraseña actual">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txtNewPassword">Contraseña nueva:</label>
                                <input type="password" class="form-control" name="txtNewPassword" id="txtNewPassword" placeholder="Ingrese su contraseña nueva">
                            </div>
                            <div class="form-group col-6">
                                <label for="txtConfirmPassword">Confirmar contraseña:</label>
                                <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword" placeholder="Confirme su contraseña nueva">
                            </div>
                        </div>
                        <div class="row">
                            <label class="text-sm text-gray">Nota: Cuando se reestablezca la contraseña será dirigido a la pantalla de Login y deberá iniciar sesión nuevamente.<a class="text-gray" id="helpModalNav" data-toggle="modal" href="#changepassword" role="button" data-target=""><i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Ingrese a la ayuda del sistema"></i></a></label>
                            
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" onclick="ChangePassword()">Guardar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CleanModal()">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    @*Modal Ayuda*@
    <div class="modal" id="changepassword" role="dialog">
        <div class="modal-dialog" style="overflow-y: initial !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-bold text-center">Ayuda cambio de contraseña</h4>
                </div>
                <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                    <h4 align="center"><b></b></h4>
                    <p>&nbsp;&nbsp;Este m&oacute;dulo esta desarrollado para que cada  uno de los usuarios se auto gestione el cambio de contraseña en el sistema.</p>
                    
                    <p>&nbsp;&nbsp;En esta pantalla se completa los campos solicitados</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/User_profile/userProfile02.jpg" class="img-rounded" alt="Cinque Terre" />
                        <p>&nbsp;&nbsp;Se debe colocar la contraseña actual, seguidamente de la contraseña nueva y la confirmaci&oacute;n de la misma.</p>
                        <p>&nbsp;&nbsp;Una vez ingresado los datos se da al bot&oacute;n "Guardar"</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*/.modal*@

</body>
</html>

