<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArquiSoft</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/dist/css/adminlte.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/toastr/toastr.min.css">

    @Styles.Render("~/bundles/Plugins/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_Navbar")
    @Html.Partial("_Sidebar")

    @RenderBody()

    @*@Html.Partial("_Footer")*@

    <!-- jQuery -->
    <script src="~/Scripts/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/Scripts/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    @Scripts.Render("~/Scripts/components/app.js")
    @Scripts.Render("~/Scripts/components/Validations.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Plugins/js")

    @RenderSection("Scripts", required: false)




    <!-- Modal -->
    <form class="modal" id="passwordModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar Contraseña</h4>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="txtCurrentPassword">Contraseña Actual:</label>
                            <input type="password" onchange="validatePassword(event)" class="form-control" id="txtCurrentPassword">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="txtNewPassword">Contraseña:</label>
                            <input type="password" onchange="validatePassword(event)" class="form-control" id="txtNewPassword">
                        </div>
                        <div class="form-group col-6">
                            <label for="txtConfirmPassword">Confirmar contraseña:</label>
                            <input type="password" onchange="validatePassword(event)" class="form-control" id="txtConfirmPassword">
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
    <!-- /.modal -->


</body>
</html>

