<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArquiSoft</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/dist/css/adminlte.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/toastr/toastr.min.css">

    @Styles.Render("~/bundles/Plugins/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_Navbar")
    @Html.Partial("_Sidebar")

    @RenderBody()

    @*@Html.Partial("_Footer")*@

    <!-- jQuery -->
    <script src="~/Scripts/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/Scripts/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Scripts/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/AdminLTE/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/AdminLTE/dist/js/pages/dashboard3.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Plugins/js")
    @Scripts.Render("~/bundles/App/js")

    
<script>

            const apiSecurity = new UserApi();
            const passwordRegex2 = app.enums.Regex.Password;

            // On load event - Initial event
            $(document).ready(function () {

                // Methods who add or remove de styled classes
                $.validator.setDefaults({
                    //Add Error Class To Fieldset if field invalid
                    highlight: function (element) {
                        $(element).addClass('is-invalid').removeClass('is-valid');
                    },
                    //Add Valid Class To Fieldset if field valid
                    unhighlight: function (element) {
                        $(element).removeClass('is-invalid').addClass('is-valid');
                    },
                    errorPlacement: function (error, element) {
                        error.addClass('validation-error text-red small').insertAfter(element);
                    }
                });

                $.validator.addMethod('passwordRegex', function (value, element, parameter) {
                    return value.match(passwordRegex2);
                }, '');

                $.validator.addMethod('confirmPassword', function (value, element, parameter) {
                    return $("#txtNewPassword").val() === value //value.match(passwordRegex);
                }, '');

                // Form validations
                $("#passForm").validate({
                    rules: {
                        txtCurrentPassword: {
                            required: true,
                            passwordRegex: true,
                        },
                        txtNewPassword: {
                            required: true,
                            passwordRegex: true,
                        },
                        txtConfirmPassword: {
                            required: true,
                            passwordRegex: true,
                            confirmPassword: true
                        }
                    },
                    messages: {
                        txtCurrentPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número."
                        },
                        txtNewPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número."
                        },
                        txtConfirmPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número.",
                            confirmPassword: "Las contraseñas no coinciden."
                        }
                    }
                });
            });

            // Submit form method
            function ChangePassword() {
                if ($("#passForm").valid()) {
                    var $data = {
                        oUser: {
                            Name: $("#txtCurrentPassword").val(),
                            Password: $("#txtConfirmPassword").val()
                        }
                    }

                    apiSecurity.SaveCurrentUser($data).then(response => {
                        if (response.result === 'OK') {
                            toastr.success('Contraseña actualizada correctamente.');
                            var baseUrl = "@Url.Action("LogOut", "App")";
                            window.location.href = baseUrl;
                        } else {
                            toastr.error(response.result);
                        }

                    }).catch(err => {

                        toastr.error("Ocurrió un error cambiando la contraseña.");
                    })
                }
                else
                    toastr.error('Por favor valide los datos ingresados.');
            }

            function CleanModal() {

                $("#txtCurrentPassword").removeClass("is-valid");
                $("#txtNewPassword").removeClass("is-valid");
                $("#txtConfirmPassword").removeClass("is-valid");
                $("#txtCurrentPassword").val("");
                $("#txtNewPassword").val("");
                $("#txtConfirmPassword").val("");
            }

</script>
    

    @RenderSection("Scripts", required: false)

    <!-- Modal -->
    <div class="modal" id="passwordModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-dark">Cambiar Contraseña</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="passForm">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txtCurrentPassword">Contraseña Actual:</label>
                                <input type="password" name="txtCurrentPassword" class="form-control" id="txtCurrentPassword">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txtNewPassword">Contraseña nueva:</label>
                                <input type="password" class="form-control" name="txtNewPassword" id="txtNewPassword">
                            </div>
                            <div class="form-group col-6">
                                <label for="txtConfirmPassword">Confirmar contraseña:</label>
                                <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword">
                            </div>
                        </div>
                        <div class="row">
                            <label class="text-sm text-gray">Nota: Cuando se reestablezca la contraseña será dirigido a la pantalla de Login y deberá iniciar sesión nuevamente.</label>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-primary" onclick="ChangePassword()">Guardar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</body>
</html>

