<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArquiSoft</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/dist/css/adminlte.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/toastr/toastr.min.css">
    <!-- Ion Slider -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
    <!-- bootstrap slider -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/dropzone/min/dropzone.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/daterangepicker/daterangepicker.css">

    @Styles.Render("~/bundles/Plugins/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_Navbar")
    @Html.Partial("_Sidebar")

    @RenderBody()

    @Html.Partial("_Footer")

    <!-- jQuery -->
    <script src="~/Scripts/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/Scripts/AdminLTE/plugins/toastr/toastr.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>


    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Scripts/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/AdminLTE/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/AdminLTE/dist/js/pages/dashboard3.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Plugins/js")
    @Scripts.Render("~/bundles/App/js")


    <script>

            const apiSecurity = new UserApi();
            const passwordRegex2 = app.enums.Regex.Password;

            // On load event - Initial event
            $(document).ready(function () {

                // Methods who add or remove de styled classes
                $.validator.setDefaults({
                    //Add Error Class To Fieldset if field invalid
                    highlight: function (element) {
                        $(element).addClass('is-invalid').removeClass('is-valid');
                    },
                    //Add Valid Class To Fieldset if field valid
                    unhighlight: function (element) {
                        $(element).removeClass('is-invalid').addClass('is-valid');
                    },
                    errorPlacement: function (error, element) {
                        error.addClass('validation-error text-red small').insertAfter(element);
                    }
                });

                $.validator.addMethod('passwordRegex', function (value, element, parameter) {
                    return value.match(passwordRegex2);
                }, '');

                $.validator.addMethod('confirmPassword', function (value, element, parameter) {
                    return $("#txtNewPassword").val() === value //value.match(passwordRegex);
                }, '');

                $.validator.addMethod('confirmPasswordNewOld', function (value, element, parameter) {

                    return $("#txtCurrentPassword").val() !== value //value.match(passwordRegex);
                }, '');

                // Form validations
                $("#passForm").validate({
                    rules: {
                        txtCurrentPassword: {
                            required: true,
                            passwordRegex: true,
                        },
                        txtNewPassword: {
                            required: true,
                            passwordRegex: true,
                            confirmPasswordNewOld: true,
                        },
                        txtConfirmPassword: {
                            required: true,
                            passwordRegex: true,
                            confirmPassword: true,
                            confirmPasswordNewOld: true,
                        }
                    },
                    messages: {
                        txtCurrentPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 9 caracteres, al menos una letra mayúscula, una letra minúscula, un número (No puede tener números seguidos), un cáracter especial ."
                        },
                        txtNewPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 9 caracteres, al menos una letra mayúscula, una letra minúscula, un número (No puede tener números seguidos) y un cáracter especial.",
                            confirmPasswordNewOld: "La contraseña actual y la nueva no pueden ser la misma"
                        },
                        txtConfirmPassword: {
                            required: "Requerido",
                            passwordRegex: "La contraseña debe cumplir con: mínimo 9 caracteres, al menos una letra mayúscula, una letra minúscula, un número (No puede tener números seguidos) y un cáracter especial.",
                            confirmPassword: "Las contraseñas no coinciden.",
                            confirmPasswordNewOld: "La contraseña actual y la nueva no pueden ser la misma"
                        },
                    }
                });
            });

            // Submit form method
            function ChangePassword() {
                if ($("#passForm").valid()) {
                    var $data = {
                        oUser: {
                            Name: $("#txtCurrentPassword").val(),
                            Password: $("#txtConfirmPassword").val()
                        }
                    }

                    apiSecurity.SaveCurrentUser($data).then(response => {
                        if (response.result === 'OK') {
                            toastr.success('Contraseña actualizada correctamente.');
                            var baseUrl = "@Url.Action("LogOut", "App")";
                            window.location.href = baseUrl;
                        } else {
                            toastr.error(response.result);
                        }

                    }).catch(err => {

                        toastr.error("Ocurrió un error cambiando la contraseña.");
                    })
                }
                else
                    toastr.error('Por favor valide los datos ingresados.');
                CleanModal();
            }

            function CleanModal() {


                $("#txtCurrentPassword").removeClass("is-valid");
                $("#txtNewPassword").removeClass("is-valid");
                $("#txtConfirmPassword").removeClass("is-valid");
                $("#txtCurrentPassword").removeClass("is-invalid");
                $("#txtNewPassword").removeClass("is-invalid");
                $("#txtConfirmPassword").removeClass("is-invalid");
                $("#txtCurrentPassword").val("");
                $("#txtNewPassword").val("");
                $("#txtConfirmPassword").val("");
                $('.validation-error').remove();
            }

        $('#passwordModal').on('hidden', function () {
            CleanModal();
        });


    </script>


    @RenderSection("Scripts", required: false)

    <!-- Modal -->
    <div class="modal" id="passwordModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-dark">Cambiar Contraseña</h4>

                </div>
                <div class="modal-body">
                    <form role="form" id="passForm">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txtCurrentPassword">Contraseña actual: *</label>
                                <input type="password" name="txtCurrentPassword" class="form-control" id="txtCurrentPassword" placeholder="Ingrese su contraseña actual">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txtNewPassword">Contraseña nueva: *</label>
                                <input type="password" class="form-control" name="txtNewPassword" id="txtNewPassword" placeholder="Ingrese su contraseña nueva">
                            </div>
                            <div class="form-group col-6">
                                <label for="txtConfirmPassword">Confirmar contraseña: *</label>
                                <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword" placeholder="Confirme su contraseña nueva">
                            </div>
                        </div>
                        <div class="row">
                            <label class="text-sm text-gray">Nota: Cuando se restablezca la contraseña, será dirigido a la pantalla de inicio de sesión y deberá ingresar nuevamente con su contraseña nueva.<a class="text-gray" id="helpModalNav" data-toggle="modal" href="#changepassword" role="button" data-target=""><i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Ingrese a la ayuda de cambio de contraseña"></i></a></label>
                            <label class="text-sm text-gray">* Campos requeridos</label>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" onclick="ChangePassword()">Guardar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CleanModal()">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <!-- /.modal -->
    @*Modal Ayuda*@
    <div class="modal" id="changepassword" role="dialog">
        <div class="modal-dialog" style="overflow-y: initial !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-bold text-center">Ayuda cambio de contraseña</h4>
                </div>
                <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                    <h4 align="center"><b></b></h4>
                    <p>&nbsp;&nbsp;Este m&oacute;dulo está desarrollado para que cada  uno de los usuarios se autogestione el cambio de contraseña en el sistema.</p>

                    <p>&nbsp;&nbsp;En esta pantalla debe completar los campos solicitados</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/User_profile/userProfile02.jpg" class="img-rounded" alt="Cinque Terre" />
                        <p>&nbsp;&nbsp;Se debe colocar la contraseña actual, seguidamente de la contraseña nueva y la confirmaci&oacute;n de la misma.</p>
                        <p>&nbsp;&nbsp;Una vez ingresado los datos se da al bot&oacute;n "Guardar"</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*/.modal*@



    @*Modal Ayuda*@
    <div class="modal" id="projectPrincipalHelp" role="dialog">
        <div class="modal-dialog" style="overflow-y: initial !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-bold text-center">Ayuda Proceso Proyectos</h4>
                </div>
                @*Ayuda pantalla Proyectos*@
                <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                    <h4 align="center"><b></b></h4>
                    <h4><b>&nbsp;&nbsp;Gu&iacute;a para pantalla proyecto:</b></h4>
                    <p>&nbsp;&nbsp;1- Al ingresar al m&oacute;dulo de proyectos se mostrar&aacute;n las opciones para completar el proyecto.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/ProjectPrincipal/ProjectPrincipal01.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <br />
                    @*Ayuda modificar Proyectos*@
                    <h4 align="center"><b></b></h4>
                    <h4><b>&nbsp;&nbsp;Gu&iacute;a para modificar un proyecto:</b></h4>
                    <p>&nbsp;&nbsp;1- Al ingresar al m&oacute;dulo de proyectos despu&eacute;s de haber creado el mismo, se mostrar&aacute; la siguiente pantalla donde tendr&aacute; cargado el nombre del proyecto y cliente.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/ProjectsGeneral/ProjectsGeneral01.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;A continuaci&oacute;n se debe de completar la informaci&oacute;n adicional para completar el proyecto.</p>
                    <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Nombre del proyecto (Si se desea cambiar).</p>
                    <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;Cliente (Si se desea cambiar).</p>
                    <p>&nbsp;&nbsp; <b>3:</b>&nbsp;&nbsp;Nombre del maestro de obra.</p>
                    <p>&nbsp;&nbsp; <b>4:</b>&nbsp;&nbsp;Número de niveles de la obra</p>
                    <p>&nbsp;&nbsp; <b>5:</b>&nbsp;&nbsp;Notas/Comentarios para realizar al proyecto</p>
                    <p>&nbsp;&nbsp; <b>6:</b>&nbsp;&nbsp;Terreno (Se selecciona por medio del slider).</p>
                    <p>&nbsp;&nbsp; <b>7:</b>&nbsp;&nbsp;Metros de construcción (Se selecciona por medio del slider).</p>
                    <p>&nbsp;&nbsp; <b>8:</b>&nbsp;&nbsp;Sistemas constructivos (Puede ser uno o varios).</p>
                    <p>&nbsp;&nbsp; <b>9:</b>&nbsp;&nbsp;Status del proyecto.</p>
                    <p>&nbsp;&nbsp;2- Una vez finalizado la incorporaci&oacute;n o cambios que se desean se da clic al bot&oacute;n “Guardar” para registrar los cambios.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/ProjectsGeneral/ProjectsGeneral02.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <br />
                    @*Ayuda proceso presupuesto*@
                    <h4 align="center"><b></b></h4>
                    <h4><b>&nbsp;&nbsp;Gu&iacute;a para generar un presupuesto:</b></h4>
                    <p>&nbsp;&nbsp;1- Una vez ingresado en el proyecto que requiere un presupuesto, se ingresa a la pestaña ”Presupuesto”</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Budget/Budget01.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;2- Da clic al botón “Crear Nuevo”.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Budget/Budget02.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;3- Coloca el nombre del presupuesto a generar y da clic al bot&oacute;n "Crear".</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Budget/Budget03.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;4- El presupuesto aparece vacío.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Budget/Budget04.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>

                    <br />
                    @*Ayuda agregar adjuntos*@
                    <h4 align="center"><b></b></h4>
                    <h4><b>&nbsp;&nbsp;Gu&iacute;a para agregar un adjunto nuevo:</b></h4>
                    <p>&nbsp;&nbsp;1- Una vez ingresado en el proyecto que requiere agregar documentos, da clic a la pestaña ”Adjuntos:</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Attachments/Attachments01.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;2- Da clic al campo “Seleccione un archivo” o al bot&oacute;n “Browse”.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Attachments/Attachments02.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;3- Se busca el documento o imagen que se desea adjuntar al proyecto.<p>
                        <div class="modal-body" align="left">
                            <img src="~/Content/img/Help/Attachments/Attachments03.JPG" class="img-rounded" alt="Cinque Terre" />
                        </div>
                    <p>&nbsp;&nbsp;4- Da clic al bot&oacute;n guardar, para finalizar la carga del documento.<p>
                        <div class="modal-body" align="left">
                            <img src="~/Content/img/Help/Attachments/Attachments04.JPG" class="img-rounded" alt="Cinque Terre" />
                        </div>
                    <p>&nbsp;&nbsp;5- El sistema mostrar&aacute; el documento que se carg&oacute;.<p>
                        <div class="modal-body" align="left">
                            <img src="~/Content/img/Help/Attachments/Attachments05.JPG" class="img-rounded" alt="Cinque Terre" />
                        </div>
                        <br />
                        @*Ayuda elimianr adjuntos*@

                        <h4><b>&nbsp;&nbsp;Gu&iacute;a para eliminar un adjunto:</b></h4>
                    <p>&nbsp;&nbsp;1- En la pestaña “Adjuntos” se da clic al bot&oacute;n “Eliminar” del adjunto.</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Attachments/Attachments06.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp;2- Saldr&aacute; el siguiente mensaje para confirmar la eliminaci&oacute;n</p>
                    <div class="modal-body" align="left">
                        <img src="~/Content/img/Help/Attachments/Attachments07.JPG" class="img-rounded" alt="Cinque Terre" />
                    </div>
                    <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Se confirma la eliminaci&oacute;n del adjunto.</p>
                    <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;No se confirma la eliminaci&oacute;n del adjunto, no se realizan cambios.</p>
                    <br />
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*/.modal*@


    <!-- Modal -->
    <div class="modal" id="acercaDe" role="dialog">
        <div class="modal-dialog" style="overflow-y: initial !important">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <h3 class="text-bold text-center">Acerca de</h3>
                </div>
                <div class="modal-body" align="center" style="height: 40vh; overflow-y: auto;">
                    <img src="~/Content/img/Acerca_De/Acerca01.JPG" class="img-rounded" alt="Cinque Terre" />
                    <h4 aling="center"><b>&nbsp;&nbsp;Versi&oacute;n: 1.0</b></h4>
                    <p>Programa de Gesti&oacute;n de Proyectos de Arquitectura</p>
                    <p>Steven Gonzalez Berrios & Jean Carlo Salazar Arias</p>
                    <p>Copyright &#169 2021</p>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div>

</body>
</html>

