<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index", "Home")" class="brand-link">
        <img src="~/Content/img/logo.png" alt="Arquisoft Logo" class="brand-image-xl " style="opacity: .8">
        <span class="brand-text font-weight-light"><sub>v1.0</sub></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/img/profile_avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@ViewBag.UserName</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- Mantenimientos -->
                <li class="nav-header">Módulos</li>

                @if (ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.CLIENT_READ))
                {
                    <!-- Clientes -->
                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Puede realiza acciones como: Registrar, editar y eliminar clientes">
                        <a href="@Url.Action("Index", "Client")" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Clientes</p>
                        </a>
                    </li>
                }

                <!-- Materiales -->
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Puede seleccionar entre Materiales Proveedor o Materiales Genéricos">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-folder-open"></i>
                        <p>
                            Materiales
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Puede visualizar la lista de materiales de una ferretería">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-truck-pickup"></i>
                                <p>Materiales Proveedores</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Mantenimientos -->
                <li class="nav-header">Procesos</li>

                <!-- Proyectos -->
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Puede realiza acciones como Registrar, editar y eliminar proyectos">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-toolbox"></i>
                        <p>Proyectos</p>
                    </a>
                </li>

                <!-- Reportes -->
                <li data-toggle="tooltip" data-placement="top" title="Puede generar distintos tipos de reportes" class="nav-item">
                    <a data-target="#passwordModal" data-toggle="modal" href="#passwordModal" class="nav-link">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>Reportes</p>
                    </a>
                </li>


                <!-- Seguridad -->
                <li class="nav-header">Seguridad</li>

                <!-- Cambiar contraseña -->
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Puede realizar la gestión de cambio de su contraseña">
                    <a data-target="#passwordModal" data-toggle="modal" href="#passwordModal" class="nav-link">
                        <i class="nav-icon fas fa-user-shield"></i>
                        <p>Cambiar contraseña</p>
                    </a>
                </li>

                @if (ArquisoftApp.Controllers.AppController.isAdmin())
                {
                    <!-- Seguridad / Administrador -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tools"></i>
                            <p>
                                SysAdmin
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <!--Roles y Permisos-->
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Role")" class="nav-link">
                                    <i class="fas fa-user-tag"></i>
                                    <p>Roles y Permisos</p>
                                </a>
                            </li>

                            <!-- Usuarios -->
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "User")" class="nav-link">
                                    <i class="nav-icon fas fa-user-cog"></i>
                                    <p>Usuarios</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
