@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper border-top">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3 id="txtProjectsExec">0</h3>
                            <p>Proyectos en Ejecución</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-laptop-house"></i>
                        </div>
                        <a href="@Url.Action("Index", "Project")" class="small-box-footer">Ver más <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3 id="txtProjectsWarn">0</h3>

                            <p>Proyectos Críticos</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <a href="@Url.Action("Index", "Project")" class="small-box-footer">Ver más <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3 id="txtProjectsStop">0</h3>

                            <p>Proyectos Detenidos</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-store-alt-slash"></i>
                        </div>
                        <a href="@Url.Action("Index", "Project")" class="small-box-footer">Ver más <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 id="txtClientsCount">0</h3>

                            <p>Clientes Registrados</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <a href="@Url.Action("Index", "Client")" class="small-box-footer">Ver más <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <hr />
            <div class="row d-flex justify-content-center">
                <img src="~/Content/img/logo-inverted-main.png" />

            </div>


            @*Dashboard presupuesto cobrados*@
            <!-- /.row -->
            <!-- Main row -->
            <!--<div class="row">-->
            <!-- /.Left col -->
            <!--<div class="col-lg-6">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Presupuestos cobrados</h3>
                    <a href="javascript:void(0);">Ver Reporte</a>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="d-flex flex-column">
                        <span class="text-bold text-lg">$18,230.00</span>
                        <span>Ventas sobre el tiempo</span>
                    </p>
                    <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                            <i class="fas fa-arrow-up"></i> 33.1%
                        </span>
                        <span class="text-muted">Desde el último mes</span>
                    </p>
                </div>-->
            <!-- /.d-flex -->
            <!--<div class="position-relative mb-4">
                    <canvas id="sales-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> Este año
                    </span>

                    <span>
                        <i class="fas fa-square text-gray"></i> Año pasado
                    </span>
                </div>
            </div>
        </div>
    </div>-->
            <!-- /.Right col -->
            @*Dashboard materiales*@

            <!--<div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">Materiales</h3>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                </a>
                <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle" id="myTableMateriales">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Precio</th>
                        <th>Proveedor</th>
                        <th>Más</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>-->
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@*Modal Ayuda*@
<div class="modal" id="HomeHelp" role="dialog">
    <div class="modal-dialog" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-bold text-center">Ayuda Pantalla Principal</h4>
            </div>
            @*Ayuda Agregar Proyectos*@
            <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                <h4 align="center"><b></b></h4>
                <h4><b>&nbsp;&nbsp;Gu&iacute;a para la pantalla principal:</b></h4>
                <p>&nbsp;&nbsp;Al ingresar al sistema se contar&aacute; con un dashboard con informaci&oacute;n relevante, y al lado izquierdo los m&oacute;dulos y procesos con los que cuenta el sistema</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Dashboard/Dashboard01.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <br />
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*/.modal*@




@section scripts{
    <script>
        var api = new DashboardApi();

        $(document).ready(function () {
            $("#helpModalNav").attr('data-target', "#HomeHelp");
            LoadDashboard();
            LoadTable();
        });

        function LoadDashboard() {
            api.GetDashboardData().then(response => {
                var data = JSON.parse(response.data);

                $.each(data, function (key, record) {
                    switch (record.Value) {
                        case 'D':
                            $("#txtProjectsStop").text(record.Count);
                            break;
                        case 'C':
                            $("#txtProjectsWarn").text(record.Count);
                            break;
                        case 'E':
                            $("#txtProjectsExec").text(record.Count);
                            break;
                        case 'Clientes':
                            $("#txtClientsCount").text(record.Count);
                            break;
                    }
                });
            })
        }

        function LoadTable() {
            client_table = $('#myTableMateriales').DataTable({
                 "ajax": {
                    "url": "@Url.Action("ListMaterials", "Material")",
                    "dataSrc": function (json) {

                        let JsonBudgetData = json.data;

                        if (JsonBudgetData) {
                            $.each(JsonBudgetData, function (key, obj) {
                                if (obj.Id) {
                                    obj.Price = `${formatter.format(obj.Price).replace('CRC', '₡')}`;
                                }
                            });
                        }
                        else
                            JsonBudgetData = [];

                        return JsonBudgetData;
                    }
                     //"type": "GET",
                     //"datatype": "json"
                 }, "columns": [
                     { "data": "Description" },
                     { "data": "Price", className: "text-right" },
                     {
                         "data": "Id", "render": function (data) {
                         },
                         "orderable": false,
                         "searchable": false,
                         "width": "100px"
                     }
                 ],
                 dom: 'Bfrtip',

                 "language": {
                     "url": "@Url.Content("~/Scripts/plugins/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        }

    </script>
}