
@{
    ViewBag.Title = "UserMaintenance";
    ViewBag.Page = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">

        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Nombre Usuario</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>

    </section>

</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<form class="modal" id="FormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body">

                <input type="hidden" id="txtId" />

                <div class="form-group">
                    <input type="checkbox" class="form-check-input m-0" id="chkEnable">
                    <label class="form-check" for="chkEnable">Activo</label>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="txtName">Nombre:</label>
                        <input type="text" class="form-control" id="txtName">
                    </div>
                    <div class="form-group col-6">
                        <label for="txtLastName">Apellido:</label>
                        <input type="text" class="form-control" id="txtLastName">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="txtUsername">Nombre de usuario:</label>
                        <input type="text" class="form-control" id="txtUsername">
                    </div>
                    <div class="form-group col-6">
                        <label for="txtPassword">Contraseña:</label>
                        <input type="password" onchange="validatePassword(event)" class="form-control" id="txtPassword">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label for="txtEmail">Correo:</label>
                        <input type="text" onblur="validateEmail(event)" class="form-control" id="txtEmail">
                    </div>
                </div>

            </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->


@section scripts{
    <script>
         var users_table;
         $(document).ready( function () {
             users_table = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "User")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Last_Name" },
                    { "data": "Email" },
                    { "data": "Username" },
                    { "data": "Id", "render": function (data) {
                        return "<button class='btn btn-primary btn-sm' type='button' onclick='openModal(" + data + ", \"Editar\")'><i class='fas fa-pen'></i></button>" +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Delete(" + data + ")'><i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            openModal(0, "Agregar");
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

             });
         });

        function openModal($userId, action) {

            CleanModal();
            $("#txtId").val($userId);
            $(".modal-title").text(action);
            if ($userId != 0) {

                jQuery.ajax({
                    url: "@Url.Action("Get","User")" + "?userId=" + $userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#chkEnable").prop('checked', true);
                            $("#txtName").val(data.Name);
                            $("#txtLastName").val(data.Last_Name);
                            $("#txtEmail").val(data.Email);
                            $("#txtPassword").val(data.Password);
                            $("#txtUsername").val(data.Username);
                        }

                    }
                });
            } else {

                $("#chkEnable").prop('checked', true);
                $("#txtName").val("");
                $("#txtLastName").val("");
                $("#txtEmail").val("");
                $("#txtPassword").val("");
                $("#txtUsername").val("");
            }

            $('#FormModal').modal('show');

        }

        function Save() {

            if (ValidateInputs()) {
                var $data = {
                    oUser: {
                        Id: parseInt($("#txtId").val()),
                        Name: $("#txtName").val(),
                        Last_Name: $("#txtLastName").val(),
                        Email: $("#txtEmail").val(),
                        Password: $("#txtPassword").val(),
                        Username: $("#txtUsername").val(),
                        Enable: $("#chkEnable").prop('checked')
                    }
                }

                jQuery.ajax({
                    url: "@Url.Action("Save", "User")",
                    type: "POST",
                    data: JSON.stringify($data),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.result === 'OK') {
                            users_table.ajax.reload();
                            $('#FormModal').modal('hide');
                            toastr.success('Usuario guardado correctamente.')
                        } else {
                            toastr.error(data.result)
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    }
                });
            }
            else {
                toastr.error('Por favor valide los datos ingresados.')
            }

        }

        function Delete($userId) {
            if (confirm("¿Realmente desea eliminar?")) {

                jQuery.ajax({
                    url: "@Url.Action("Delete", "User")" + "?userId=" + $userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.result) {
                            users_table.ajax.reload();
                        }
                    }
                });


            }
        }

        function ValidateInputs() {

            var ret = true;

            if ($("#txtEmail").hasClass("is-invalid") || $("#txtPassword").hasClass("is-invalid")) {
                ret = false;
            }

            return ret;
        }

        function CleanModal() {
            if ($("#txtEmail").hasClass("is-invalid") || $("#txtPassword").hasClass("is-invalid")) {

                $("#txtEmail").removeClass("is-invalid");
                $("#txtPassword").removeClass("is-invalid");
                $('.invalid-feedback').remove();
            }
        }

    </script>

    @Scripts.Render("~/Scripts/components/Validations.js")
}
