
@{
    ViewBag.Title = "UserMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Seguridad</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Usuarios del sistema</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body p-2">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last_Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </section>

</div>
<!-- /.content-wrapper -->



<!-- Modal -->
<div class="modal" id="FormModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>

            </div>
            <div class="modal-body">

                <input type="hidden" id="txtIdPersona" />
                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input type="text" class="form-control" id="txtNombre">
                </div>
                <div class="form-group">
                    <label for="txtApellidos">Apellido:</label>
                    <input type="text" class="form-control" id="txtApellidos">
                </div>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input type="text" class="form-control" id="txtCorreo">
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section scripts{

    <script>
         var tabla_persona;
         $(document).ready( function () {
             tabla_persona = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "User")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Last_Name" },
                    { "data": "Email" },
                    { "data": "Id", "render": function (data) {
                            return "<button class='btn btn-primary btn-sm' type='button' onclick='abrirModal(" + data + ")'><i class='fas fa-pen'></i></button>" +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(" + data + ")'><i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            abrirModal(0)
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
         });

        function abrirModal($userId) {
            $("#txtIdPersona").val($userId);
            if ($userId != 0) {

                jQuery.ajax({
                    url: "@Url.Action("Get","User")" + "?userId=" + $userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#txtNombre").val(data.Name);
                            $("#txtApellidos").val(data.Last_Name);
                            $("#txtCorreo").val(data.Email);
                        }

                    }
                });
            } else {
                $("#txtNombre").val("");
                $("#txtApellidos").val("");
                $("#txtCorreo").val("");
            }

            $('#FormModal').modal('show');

        }

        function Guardar() {
            var $data = {
                oUser: {
                    Id: parseInt($("#txtIdPersona").val()),
                    Name: $("#txtNombre").val(),
                    Last_Name: $("#txtApellidos").val(),
                    Email: $("#txtCorreo").val(),
                }
            }

            jQuery.ajax({
                url: "@Url.Action("Save", "User")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.result) {
                        tabla_persona.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                }
            });

        }

        function Eliminar($userId) {
            if (confirm("¿Realmente desea eliminar?")) {

                jQuery.ajax({
                    url: "@Url.Action("Delete", "User")" + "?userId=" + $userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.result) {
                            tabla_persona.ajax.reload();
                        }
                    }
                });


            }
        }
    </script>

}
