
@{
    ViewBag.Title = "UserMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Seguridad</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Seguridad</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Usuarios del sistema</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body p-2">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last_Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </section>

    <!-- Roles -->
    <section class="content">
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Roles de seguridad</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body p-2">
                <table class="display responsive nowrap" id="myTable2" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last_Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </section>

    <!-- Privilegios -->
    <section class="content">
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Privilegios del sistema</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body p-2">
                <table class="display responsive nowrap" id="myTable2" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last_Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </section>

</div>
<!-- /.content-wrapper -->

<!-- Modal -->
<div class="modal" id="FormModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>

            </div>
            <div class="modal-body">

                <input type="hidden" id="txtId" />
                <div class="form-group">
                    <label for="txtName">Nombre:</label>
                    <input type="text" class="form-control" id="txtName">
                </div>
                <div class="form-group">
                    <label for="txtLastName">Apellido:</label>
                    <input type="text" class="form-control" id="txtLastName">
                </div>
                <div class="form-group">
                    <label for="txtEmail">Correo:</label>
                    <input type="text" class="form-control" id="txtEmail">
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section scripts{

    <script>
         var users_table;
         $(document).ready( function () {
             users_table = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "User")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Last_Name" },
                    { "data": "Email" },
                    { "data": "Id", "render": function (data) {
                        return "<button class='btn btn-primary btn-sm' type='button' onclick='openModal(" + data + ")'><i class='fas fa-pen'></i></button>" +
                                "<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Delete(" + data + ")'><i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            openModal(0)
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
         });

        function openModal($userId) {
            $("#txtId").val($userId);
            if ($userId != 0) {

                jQuery.ajax({
                    url: "@Url.Action("Get","User")" + "?userId=" + $userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#txtName").val(data.Name);
                            $("#txtLastName").val(data.Last_Name);
                            $("#txtEmail").val(data.Email);
                        }

                    }
                });
            } else {
                $("#txtName").val("");
                $("#txtLastName").val("");
                $("#txtEmail").val("");
            }

            $('#FormModal').modal('show');

        }

        function Save() {
            var $data = {
                oUser: {
                    Id: parseInt($("#txtId").val()),
                    Name: $("#txtName").val(),
                    Last_Name: $("#txtLastName").val(),
                    Email: $("#txtEmail").val(),
                }
            }

            jQuery.ajax({
                url: "@Url.Action("Save", "User")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.result) {
                        users_table.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                }
            });

        }

        function Delete($userId) {
            if (confirm("¿Realmente desea eliminar?")) {

                jQuery.ajax({
                    url: "@Url.Action("Delete", "User")" + "?userId=" + $userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.result) {
                            users_table.ajax.reload();
                        }
                    }
                });


            }
        }
    </script>

}
